@using LaPaie.Models
@model SimuladorViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PrincipalSitie.cshtml";
}
<div class="row">
    <div class="col-12">
        <h3>Resultado de Simulador</h3>
    </div>

    <div class="col-12">
        <div class="form-group">
            <label for="formGroupExampleInput">Total Cafe Tostado</label>
            <input type="text" class="form-control" id="" placeholder="" value="@Model.TotalCafeTostado">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">BolsaCafeMolido Crema</label>
            <input type="text" class="form-control" id="" placeholder="" value="@Model.BolsaCafeMolidoCrema">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">BolsaCafeMolidoTorrado</label>
            <input type="text" class="form-control" id="" placeholder="" value="@Model.BolsaCafeMolidoTorrado">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">BolsaCafeGranosCrema</label>
            <input type="text" class="form-control col-6" id="formGroupExampleInput" placeholder="Maximo" value="@Model.BolsaCafeGranosCrema">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">BolsaCafeGranosTorrado</label>
            <input type="text" class="form-control col-6" id="formGroupExampleInput" placeholder="Maximo" value="@Model.BolsaCafeGranosTorrado">
        </div>

        <div class="form-group">
            <label for="formGroupExampleInput">CostoTotalGas</label>
            <input type="text" class="form-control col-6" id="formGroupExampleInput" placeholder="Maximo" value="@Model.CostoTotalGas">
        </div>

        <div class="form-group">
            <label for="formGroupExampleInput">CafeSinEnvasar</label>
            <input type="text" class="form-control col-6" id="formGroupExampleInput" placeholder="Maximo" value="@Model.CafeSinEnvasar">
        </div>

        <div class="form-group">
            <label for="formGroupExampleInput">CafeGranosTorradoSinEnvolsar</label>
            <input type="text" class="form-control col-6" id="formGroupExampleInput" placeholder="Maximo" value="@Model.CafeGranosTorradoSinEnvolsar">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">CafeGranosCremaSinEnvolsar</label>
            <input type="text" class="form-control col-6" id="formGroupExampleInput" placeholder="Maximo" value="@Model.CafeGranosCremaSinEnvolsar">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">CafeMolidoTorradoSinEnvolsar</label>
            <input type="text" class="form-control col-6" id="formGroupExampleInput" placeholder="Maximo" value="@Model.CafeMolidoTorradoSinEnvolsar">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">CafeMolidoCremaSinEnvolsar</label>
            <input type="text" class="form-control col-6" id="formGroupExampleInput" placeholder="Maximo" value="@Model.CafeMolidoCremaSinEnvolsar">
        </div>

        <div class="form-group">
            <label for="formGroupExampleInput">Mensaje</label>
            <input type="text" class="form-control col-6" id="formGroupExampleInput" placeholder="Maximo" value="@Model.Mensaje">
        </div>

        <div class="form-group">
            <a class="btn btn-primary" href="/Simulador/IngresarParametros" role="button">Atrás</a>
        </div>

    </div>
</div>

<div id="divMisModales">
    <div class="modal fade modal-slide-in-right" aria-hidden="true" role="dialog" tabindex="-1" id="modal-error">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title">ERROR</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Se ha producido un error. Detalles: </p>
                    <p id="idPError"></p>
                </div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var k_total = 10; // number of times the event is repeated
    var landa = 8;  // Promedian number of error expected in a given time (Landa symbol)
    var exponential = 2.718281828;
    var total = 0;
    var numerator, denominator;

    // Sumatorio de k terminos usando la formula de poisson

    function fact(x) {
        if (x == 0) {
            return 1;
        }
        return x * fact(x - 1);
    }

    function poisson(k, landa) {
        exponentialPower = Math.pow(exponential, -landa); // negative power k
        landaPowerK = Math.pow(landa, k); // Landa elevated k
        numerator = exponentialPower * landaPowerK;
        denominator = fact(k); // factorial of k.

        return (numerator / denominator);
    }

    for (var i = 0; i < k_total; i++) {
        total += poisson(i, landa);
    }

    console.log("Total sum is " + total);

    

    var LanzarModalError = function (mensaje) {
        $("#idPError").html("<b>" + mensaje + "</b>");
        $("#modal-error").modal("show");
        return false;
    };
</script>