@using LaPaie.Models
@model SimuladorViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PrincipalSitie.cshtml";
}
<div class="row">
    <div class="col-12">
        <h3>Resultado de Simulador</h3>
    </div>
    
    <div class="col-12" id="idColImagen" style="display: block">
        <img src="~/Resource/images/tenor.gif" width="100" height="100" border="0">
    </div>

    <div class="col-12" id="idColContenedor" style="display: none">


        <div class="row mb-2">
            <div class="col-12">
                <div class="form-group">
                    <label for="formGroupExampleInput">Total Cafe Tostado</label>
                    <input type="text" class="form-control col-4" id="" placeholder="" value="@Model.TotalCafeTostado">
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12">
                <div class="form-group">
                    <label for="formGroupExampleInput">Costo Total Gas Consumido</label>
                    <input type="text" class="form-control col-4" id="formGroupExampleInput" placeholder="Maximo" value="@Model.CostoTotalGas">
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-6">
                <div class="form-group">
                    <label for="formGroupExampleInput">Bolsa Cafe Molido Crema</label>
                    <input type="text" class="form-control col-6" id="" placeholder="" value="@Model.BolsaCafeMolidoCrema">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="formGroupExampleInput">Bolsa Cafe Molido Torrado</label>
                    <input type="text" class="form-control col-6" id="" placeholder="" value="@Model.BolsaCafeMolidoTorrado">
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-6">
                <div class="form-group">
                    <label for="formGroupExampleInput">Bolsa Cafe Granos Crema</label>
                    <input type="text" class="form-control col-6" id="formGroupExampleInput" placeholder="Maximo" value="@Model.BolsaCafeGranosCrema">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="formGroupExampleInput">Bolsa Cafe Granos Torrado</label>
                    <input type="text" class="form-control col-6" id="formGroupExampleInput" placeholder="Maximo" value="@Model.BolsaCafeGranosTorrado">
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-6">
                <div class="form-group">
                    <label for="formGroupExampleInput">Cafe Granos Torrado Sin Envolsar</label>
                    <input type="text" class="form-control col-6" id="formGroupExampleInput" placeholder="Maximo" value="@Model.CafeGranosTorradoSinEnvolsar">
                </div>

            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="formGroupExampleInput">Cafe Granos Crema Sin Envolsar</label>
                    <input type="text" class="form-control col-6" id="formGroupExampleInput" placeholder="Maximo" value="@Model.CafeGranosCremaSinEnvolsar">
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-6">
                <div class="form-group">
                    <label for="formGroupExampleInput">Cafe Molido Torrado Sin Envolsar</label>
                    <input type="text" class="form-control col-6" id="formGroupExampleInput" placeholder="Maximo" value="@Model.CafeMolidoTorradoSinEnvolsar">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="formGroupExampleInput">Cafe Molido Crema Sin Envolsar</label>
                    <input type="text" class="form-control col-6" id="formGroupExampleInput" placeholder="Maximo" value="@Model.CafeMolidoCremaSinEnvolsar">
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12">
                <div class="form-group">
                    <label for="formGroupExampleInput">Cafe Sin Envasar</label>
                    <input type="text" class="form-control col-6" id="formGroupExampleInput" placeholder="Maximo" value="@Model.CafeSinEnvasar">
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12">
                <div class="form-group">
                    <label for="formGroupExampleInput">Recomendación: </label>
                    <input type="text" class="form-control col-6" id="formGroupExampleInput" placeholder="Maximo" value="@Model.Mensaje">
                </div>
            </div>
        </div>

        <div class="form-group">
            <a class="btn btn-secondary" href="/Simulador/IngresarParametros" role="button">Atrás</a>
        </div>

    </div>
</div>

<div id="divMisModales">
    <div class="modal fade modal-slide-in-right" aria-hidden="true" role="dialog" tabindex="-1" id="modal-error">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title">ERROR</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Se ha producido un error. Detalles: </p>
                    <p id="idPError"></p>
                </div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var k_total = 10; // number of times the event is repeated
    var landa = 8;  // Promedian number of error expected in a given time (Landa symbol)
    var exponential = 2.718281828;
    var total = 0;
    var numerator, denominator;

    // Sumatorio de k terminos usando la formula de poisson

    function fact(x) {
        if (x == 0) {
            return 1;
        }
        return x * fact(x - 1);
    }

    function poisson(k, landa) {
        exponentialPower = Math.pow(exponential, -landa); // negative power k
        landaPowerK = Math.pow(landa, k); // Landa elevated k
        numerator = exponentialPower * landaPowerK;
        denominator = fact(k); // factorial of k.

        return (numerator / denominator);
    }

    for (var i = 0; i < k_total; i++) {
        total += poisson(i, landa);
    }

    console.log("Total sum is " + total);

    var LanzarModalError = function (mensaje) {
        $("#idPError").html("<b>" + mensaje + "</b>");
        $("#modal-error").modal("show");
        return false;
    };

    $(document).ready(function () {
        console.log("cargando el simulador");

        setTimeout(function () {
            $('#idColContenedor').show();
            $('#idColImagen').hide();
        }, 3000);

        

    });
</script>